
body{
    margin: 0;
    padding: 0;
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: center;
    font-family: century gothic;
    
}

.welcome{

}
.login-box{
    width: 350px;
    height: 450px;
    background: rgb(255, 255, 255);
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    left: calc(100px);
    
}
h1{
    position: absolute;
    top: -200px;
    left: calc(100px);
    text-align: center;
    font-size: 22px;
    color: #000000;
}
.login-box p{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-weight: bold;
    color: #3d8d12;
}
.login-box input{
    width: 100%;
    margin-bottom: 10px;
    
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #3d8d12;
    background: transparent;
    outline: none;
    height: 40px;
   
    font-size: 16px;
}
.login-box input[type="text"]:hover, input[type="password"]:hover
{
    border: none;
    border-bottom: 1px solid rgba(25, 70, 0, 0.87);
    background: transparent;
    outline: none;
    height: 40px;
   
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #3d8d12;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: rgba(61,141,18, 0.71);
    color: rgb(255, 255, 255);
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.login-box a:hover
{
    color: #39dc79;
}






